body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

.input_div div {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  display: block; }
  .input_div div input {
    display: block; }
  .input_div div span {
    color: red; }

.checkbox_div input {
  float: left;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative; }

.checkbox_div label {
  margin-left: 10px;
  vertical-align: middle; }

.text-danger {
  color: red; }

.form-logoff {
  vertical-align: central;
  padding-top: 18px;
  padding-bottom: 10px; }
  .form-logoff a {
    text-decoration: none; }

