@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Robot Arm Control</h1>
    <p class="lead">Just sample, ignore it</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Try it</h2>
        <p>
            Nothing intresting here
        </p>
    </div>
</div>