<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IRoleService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8001/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="UserManagement.User.IUserService"
                name="NetTcpBinding_IUserService" />
            <endpoint address="net.tcp://localhost:8002/RoleService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRoleService" contract="UserManagement.Role.IRoleService"
                name="NetTcpBinding_IRoleService" />
        </client>
    </system.serviceModel>
</configuration>