@model IEnumerable<RobotArm.WebApp.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @* TODO: It should rather be done is separeted .js file  *@
            @Ajax.ActionLink("Delete", "Delete", new {roleId = item.Id}, new AjaxOptions {HttpMethod = "POST", OnSuccess = "window.location.reload(true)" })
        </td>
    </tr>
}

</table>
